/* * {
    outline: 1px solid tomato;
} */

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;


}

.header .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100rem;
}


.header .logo {
    display: block;
    width: 180rem;
    height: 44rem;
    background: url(../images/logo_w.svg) no-repeat;
    transition: 0.5s;
}

.header.on .logo {
    background: url(../images/) no-repeat;
}

.header .gnb {}

.header .gnb>ul {
    display: flex;
    gap: 40rem;
}

.header .gnb>ul>li>a {
    display: block;
    font-size: 20rem;
    color: #fff;
}

.header .gnb>ul>li {
    position: relative;
    line-height: 100rem;
}

.header .gnb>ul>li::after {
    content: "";
    position: absolute;
    bottom: 10rem;
    left: 50%;
    transform: translate(-50%, 0);
    width: 0;
    height: 3rem;
    background: #be161e;
}

.header .gnb>ul>li:hover::after {
    width: 100%;
    transition: 0.5s;
}

.header .gnb>ul>li .snb {
    position: absolute;
    top: 100rem;
    left: -40rem;
    white-space: nowrap;
    background: rgba(0, 0, 0, 0.75);
    padding: 10rem 40rem 30rem 40rem;

    display: none;
}

.header .gnb>ul>li:hover .snb {
    display: block;
}

.header .gnb>ul>li .snb a {
    display: block;
    color: #fff;
    font-size: 15rem;
    line-height: 30rem;
}

.header .login {
    display: flex;
    gap: 30rem;
}

.header .login a {
    font-size: 15rem;
    color: #fff;
}

.hd__ham__btn {
    display: flex;
    align-items: center;
    height: 100%;
}

.ham_btn,
.ham_btn span {
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
}

.ham_btn {
    position: relative;
    width: 28rem;
    height: 22rem;
}

.ham_btn span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2rem;
    background-color: #fff;
    border-radius: 10rem;
}

.ham_btn span:nth-of-type(1) {
    top: 0;
}

.ham_btn span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
    width: 65%;
    left: auto;
    right: 0;
}

.ham_btn span:nth-of-type(3) {
    bottom: 0;
}






.ham_btn.on span:nth-of-type(1) {
    -webkit-transform: translateY(12rem) rotate(-45deg);
    transform: translateY(12rem) rotate(-45deg);
}

.ham_btn.on span:nth-of-type(2) {
    opacity: 0;
}

.ham_btn.on span:nth-of-type(3) {
    -webkit-transform: translateY(-8rem) rotate(45deg);
    transform: translateY(-8rem) rotate(45deg);
}





/*비디오*/

.visual_step_box {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0rem;
    left: 0;
}



.video_text_box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    z-index: 11;
}

.video_text_box .video_text {
    font-size: 48rem;
    font-weight: 700;
    color: #FFFFFF;
    line-height: 1.2;
}

.video_text_box .video_text span {
    display: block;
}

.video_text_box .video_text span:nth-child(3) {
    font-size: 72rem;
    background: linear-gradient(to right, #92DAFF, #B3B5FE);
    color: rgba(0, 0, 0, 0);
    -webkit-background-clip: text;
    display: inline-block;
    margin-top: 20rem;
}


.video_bg {
    width: 100%;
    height: 99.9%;
    overflow: hidden;
    position: relative;
    width: 100%;
    margin: 0 auto;
    top: 0;
    left: 0;
    transition: 0.4s;
    height: 100vh;
}

.video_bg video {
    visibility: visible;
    opacity: 1;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000%;
    height: 48.25vw;
    min-height: 120%;
    min-width: 177.77vh;
    top: 50%;
}


/*비디오*/


.space_visual {
    position: relative;
    width: 100%;
    height: 1200rem;
    filter: blur(0rem) brightness(1);
}


.space_visual img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

/*로테이션 구현*/

.eclipse_box {
    width: 100%;
    height: 100%;
}

.eclipse_action_box {
    position: absolute;
    width: 768rem;
    height: 768rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.2s ease-out;
}

.eclipse_action_box img {
    width: 100%;
    animation: rotate_image 60s linear infinite;
    transform-origin: 50% 50%;
    position: absolute;
}

.eclipse_action_box img:nth-child(3) {
    animation: rotate_image 60s linear infinite reverse;
}

@keyframes rotate_image {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes progress {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}


.eclipse_text_box {


    position: absolute;
    width: 768rem;
    height: 768rem;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 50rem;
    transition: 0.2s ease-out;
}



.eclipse_title {
    position: relative;
    top: -120rem;
    font-size: 38rem;
    font-weight: 700;
    color: #fff;
    line-height: 1.27;
}

.eclipse_text {

    display: none;
    /*나중에 반응형*/
    font-size: 20rem;
    font-weight: 400;
    color: #DDDDDD;
    line-height: 1.55;
    position: relative;

}


.eclipse_box .scrolldown_icon {}

.eclipse_box .scrolldown_icon .chevron {
    pointer-events: none;
    position: absolute;
    bottom: 190rem;
    width: 18rem;
    left: 50%;
    opacity: 1;
    transform: translateX(-50%);
    animation: move 3s ease-out infinite;
}

.eclipse_box .scrolldown_icon .chevron img {

    width: 100%;
}

.eclipse_box .scrolldown_icon .chevron:first-child {
    animation: move 2s ease-out 0s infinite;
}

.eclipse_box .scrolldown_icon .chevron:nth-child(2) {
    animation: move 2s ease-out 1s infinite;
    opacity: 0;
}


@keyframes move {
    25% {
        opacity: 1;

    }

    50% {
        opacity: 1;
        transform: translate(-50%, 15px);
    }

    100% {
        opacity: 0;
        transform: translate(-50%, 30px);
    }
}

.eclipse_text span.sb {
    font-weight: 600;
    color: #fff;
    opacity: 1 !important;
    visibility: visible !important;
    transform: none !important;
}


/*sss*/

.space_list {
    position: relative;
    top: -2rem;
    width: 100%;
    height: 1200rem;
    background: linear-gradient(to bottom, #040404, #111, #040404);
}



.space_list .bg {

    width: 100%;
    height: 100%;
    object-fit: cover;
}

.space_list .title_box {
    position: relative;
    text-align: center;

    top: 170rem;

}

.space_list .space_tit {

    font-size: 20px;
    font-weight: 600;
    color: #A58EE0;
    padding-bottom: 14px;
    line-height: 1.5;
}


.space_list .space_txt {
    color: #fff;
    font-size: 44px;
    font-weight: 700;
    line-height: 1.35;
    word-break: keep-all;
}

.space_list .space_txt2 {
    color: #dddddd;
    font-size: 22px;
    font-weight: 400;
    padding-top: 30px;
    line-height: 1.5;

}


.visual_picture .img_box {}

.visual_picture .img_box01 img {
    position: absolute;
    border-radius: 50%;
    width: 15%;
    top: 600rem;
    right: 780rem;

}

.visual_picture .img_box02 img {
    position: absolute;
    border-radius: 50%;
    width: 5%;
    top: 600rem;
    left: 500rem;
    animation: rotate_image_main 24s linear infinite;
}

.visual_picture .img_box03 img {
    position: absolute;
    border-radius: 50%;
    width: 10%;
    top: 600rem;


}


.visual_picture .img_box04 img {
    position: absolute;
    border-radius: 50%;
    width: 8%;
    top: 830rem;
    left: 500rem;
    animation: rotate_image_main 24s linear infinite;
}

.visual_picture .img_box05 img {
    position: absolute;
    border-radius: 50%;
    width: 12%;
    top: 590rem;
    right: 10%;

}


.visual_picture .img_box06 img {
    position: absolute;
    border-radius: 50%;
    width: 8%;
    top: 830rem;
    right: 25%;
    animation: rotate_image_main 24s linear infinite;
}

.visual_picture .img_box07 img {
    position: absolute;
    border-radius: 50%;
    width: 7%;
    top: 690rem;
    left: 33%;

}

.visual_picture .img_box08 img {
    position: absolute;
    border-radius: 50%;
    width: 9%;
    top: 900rem;


}

.visual_picture .img_box09 img {
    position: absolute;
    border-radius: 50%;
    width: 7%;
    top: 590rem;
    right: 28%;

}

.visual_picture .img_box10 img {
    position: absolute;
    border-radius: 50%;
    width: 10%;
    top: 870rem;
    right: 10%;

}

@keyframes rotate_image_main {
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}



a.btn_wc {

    position: absolute;
    display: inline-block;
    width: 150px;


    box-sizing: border-box;
    border: 3px solid #fff;
    text-align: center;
    line-height: 56px;
    font-size: 22rem;
    color: #fff;
    top: 1000rem;
    left: 45%;
    letter-spacing: 2px;
    z-index: 888;
    padding: 0 15rem;

    border-radius: 50rem;

}


a.btn.wc:hover:before {
    z-index: -999;
    width: 100%;
}


a.btn_wc::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background: #fff;

    z-index: 1;
    border-radius: 50rem;


}

a.btn_wc:hover {
    color: #8E72D8
}

a.btn_wc:hover:before {
    z-index: -999;
    width: 100%;

}


/**/

.edu {}


.edu .roket {
    position: relative;
    width: 100%;
    top: -1rem;

    height: auto;


}

.edu .roket::before {
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    height: 913rem;
    content: "";
    background: linear-gradient(to bottom, #040404, rgba(4, 4, 4, .6));
    z-index: 10;
    pointer-events: none;
}


.edu .mo {
    display: none;
}

.edu .roket .title_box {
    position: relative;
    text-align: center;

    top: -700rem;
    z-index: 99;

}


.edu .roket .space_tit {

    font-size: 20px;
    font-weight: 600;
    color: #A58EE0;
    padding-bottom: 14px;
    line-height: 1.5;
}


.edu .roket .space_txt {
    color: #fff;
    font-size: 44px;
    font-weight: 700;
    line-height: 1.35;
    word-break: keep-all;
}

.edu .roket img {

    object-fit: cover;
    object-position: center;
    height: 910rem;
}

.schedule {
    position: absolute;
    right: 345rem;
    bottom: 350rem;
    z-index: 11;
}

.schedule .inner {

    display: grid;
    grid-template-columns: repeat(4, 1fr);


    gap: 50rem;
    border: 2px solid #8E72D8;
    border-radius: 0 0 10px 10px;
    padding: 60px 40px;
    color: #fff;
    z-index: 12;

}


.schedule .inner .data {
    color: #fff;
    font-size: 20px;

    padding: 20px 0;

    text-align: center;

    padding: 0 20px;

    font-weight: 500;
    height: 36px;
    line-height: 36px;
    background: #8E72D8;
    border-radius: 50px;
    margin-bottom: 20px;
}

.schedule .inner .schedule_title {
    font-size: 26rem;
    font-weight: 700;
    color: #fff;
    padding-bottom: 20rem;
    line-height: 1.3;
    text-align: center;
}


.schedule .inner .schedule_sub {
    font-size: 18px;
    font-weight: 500;
    color: #CCCCCC;
    line-height: 1.5;
    word-break: keep-all;
    text-align: center;
}




a.btn_wc02 {

    position: absolute;
    display: inline-block;
    width: 150px;


    box-sizing: border-box;
    border: 3px solid #fff;
    text-align: center;
    line-height: 56px;
    font-size: 22rem;
    color: #fff;
    top: 810rem;
    left: 45%;
    letter-spacing: 2px;
    z-index: 888;
    padding: 0 15rem;

    border-radius: 50rem;

}


a.btn.wc02:hover:before {
    z-index: -999;
    width: 100%;
}


a.btn_wc02::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background: #fff;

    z-index: 1;
    border-radius: 50rem;


}

a.btn_wc02:hover {
    color: #8E72D8
}

a.btn_wc02:hover:before {
    z-index: -999;
    width: 100%;

}



/**/




.updown {
    position: relative;
    top: -164rem;
    background: linear-gradient(to bottom, #040404, #141959, #040404);
    width: 100%;
    height: 870px;
    position: relative;
    /*overflow:hidden;*/
}

.updown:after {
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    height: 102%;
    content: "";
    background: linear-gradient(to bottom, #040404, rgba(4, 4, 4, 0.6), #040404);
    z-index: 10;
}




.updown .title_box {
    position: relative;
    text-align: center;

    top: 300rem;
    z-index: 99;

}



.updown .space_txt {
    color: #fff;
    font-size: 44px;
    font-weight: 700;
    line-height: 1.35;
    word-break: keep-all;
}

.picture_ani {

    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.picture_ani .column {
    position: relative;
    display: flex;
    flex-direction: column;

    width: 20.5%;
}

.picture_ani .updown_wrap img {
    width: 100%;
    border-radius: 10px;
}

.picture_ani .header_banner {
    transition: .5s ease;
    cursor: auto;
    clear: both;
    overflow: hidden;
}

.picture_ani .header_banner .updown_wrap {
    overflow: hidden;
    width: 100%;
}

.picture_ani .header_banner .updown_item {
    cursor: pointer;
}

.picture_ani .header_banner .updown_text {
    pointer-events: none;
    margin-bottom: 130px;
}

.picture_ani .header_banner .updown_item {
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: updown1;
    animation-duration: 60s;
    -webkit-animation: updown1 60s linear infinite;
}



.picture_ani .header_banner.textbanner2 .updown_item {
    animation-direction: reverse;
}


@keyframes updown1 {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }

    100% {
        -webkit-transform: translate3d(0, -50%, 0);
        transform: translate3d(0, -50%, 0);
    }
}

@keyframes ticker3 {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }

    100% {
        -webkit-transform: translate3d(calc(-50%), 0, 0);
        transform: translate3d(calc(-50%), 0, 0);
    }
}


a.pic_btn_wc {

    position: absolute;
    display: inline-block;
    width: 200px;


    box-sizing: border-box;
    border: 3px solid #fff;
    text-align: center;
    line-height: 56px;
    font-size: 22rem;
    color: #fff;
    top: 510rem;
    left: 45%;
    letter-spacing: 2px;
    z-index: 888;
    padding: 0 15rem;

    border-radius: 50rem;

}


a.pic_btn_wc:hover:before {
    z-index: -999;
    width: 100%;
}


a.pic_btn_wc::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background: #fff;

    z-index: 1;
    border-radius: 50rem;


}

a.pic_btn_wc:hover {
    color: #8E72D8
}

a.pic_btn_wc:hover:before {
    z-index: -999;
    width: 100%;

}




/* tap*/

.media_tap {
    height: 900rem;
}


.media_tap .title_box {
    position: relative;
    text-align: center;


    z-index: 99;

    padding-bottom: 30rem;

}

.media_tap .title_box .space_tit {

    font-size: 20px;
    font-weight: 600;
    color: #A58EE0;
    padding-bottom: 14px;
    line-height: 1.5;
}

.media_tap .title_box .space_txt {
    color: #000;
    font-size: 44px;
    font-weight: 700;
    line-height: 1.35;
    word-break: keep-all;
}

.tap_menu .tap_on .bottom {
    height: 0;
    overflow: hidden;
}

.tap_menu .tap_on .bottom.on {
    height: auto;
}

.tap_menu .tap_box {
    position: relative;
    text-align: center;
}


.tap_menu .tap_box .inner2 {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10rem;
}

.tap_menu .tap_box .top {
    padding: 0 26px;
    height: 100%;
    display: block;
    padding: 15rem 20rem;
}

.tap_menu .tap_box .top.on {
    border-radius: 50rem;
    background: #8E72D8;
    color: #ffffff;
}

.tap_menu .tap_box .inner2 .top {
    font-size: 16px;



}


.footer {
    background: #000;
    height: 200rem;
}